html {
    background-color: var(--mainColor);
    color: var(--tonicColor);
}

html.dark{
  background-color: rgb(84, 0, 201) !important;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    padding-bottom: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  main {
    padding-top: 66px;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  a {
    color:deepskyblue;
  }

  a:visited { 
    color: violet;
  }

  img {
    width: calc(100vw - 32px);
    max-width: 608px;
  }

  button {
    border: 0;
    padding: 0;
    background: none;
  }

  #greeting>button{
    color: white;
  }

  html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }