---

---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>A propos de mes étoiles</h1>
	<p>Je n'est pas d'étoiles finalement... <a href="https://repertoire-des-etoiles.fr/">Acheter</a> moi en ;(</p>
  </body>
</html>