---
import Header from '../components/header.astro'
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <Header/>
    </main>
        <h1>A propos de mes étoiles</h1>
        <p>Je n'est pas d'étoiles finalement... <a href="https://repertoire-des-etoiles.fr/">Acheter</a> moi en ;(</p>
        <section>
        <h2>Pourquoi m'acheter des étoiles ?</h2>
        <p>Les étoiles ont toujours fasciné l'humanité. Elles représentent des rêves, des espoirs et des aspirations. En m'achetant une étoile, vous pouvez immortaliser un moment spécial, m'honorer simplement m'aider à posséder une part du ciel nocturne.</p>
        <p>De plus, acheter une étoile est un cadeau unique et mémorable. C'est une manière de me montrer combien je compte pour vous. Chaque étoile est unique, tout comme moi.</p>
        <p>Alors, pourquoi ne pas ajouter un peu de magie à ma vie en m'achetant une étoile aujourd'hui ?</p>
        </section>
    </main>
  </body>
</html>