---
import BaseLayout from '@layouts/BaseLayout.astro'
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Mes premiers blogs avec vtech";
---
<style>
</style>
<BaseLayout pageTitle={pageTitle}>
  <p>Je vais pouvoir vous parler de 1000 est une étoiles</p>
  <ul>{allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}</ul>
</BaseLayout>