---
import Social from './Social.astro';
---
<footer>
    <style>
        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: black;
            height: 50px;
        }
    </style>
    <nav>
        <Social platform="twitter" username="astrodotbuild" />
        <Social platform="github" username="withastro" />
        <Social platform="youtube" username="astrodotbuild" />
    </nav>
</footer>