---
---
<style>
    .hamburger {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
            .hamburger { display: none; }
        }

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
}

/* .hamburger {
    display: none;
  } */
</style>
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>