---
const mainColor = "#0f0015";
const tonicColor = "#fcf4ff";
import Hamburgeur from "./Hamburgeur.astro"
import Navigation from "./Navigation.astro"
import ThemeIcon from './ThemeIcon.astro';
import { Image } from 'astro:assets';
import LogoDuSite from '@components/img/logoDuSite.jpg';
---
<script>
import "../scripts/menu.js";
</script>
<style>
    header{
        height:80px;
        width: 100vw;
        margin-left: -16px;
        padding-left: 16px;
        margin-right: -16px;
        padding-right: 16px;
        background-color: var(--mainColor);
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
    }
    img{
        width: 50px;
        height: 50px;
    }

</style>
<header>
    <a href="/"><Image src={LogoDuSite} alt="logo"/></a>
    <ThemeIcon/>
    <nav>        
        <Navigation/>
        <Hamburgeur/>
    </nav>
</header>