<header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/about/">À propos</a>
        <a href="/posts/post-1">Ma première étoile</a>
        <a href="/posts/post-2">Chanson</a>
    </nav>
</header>